<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VeniceHalloween.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VeniceHalloween.Properties.Settings>
            <setting name="DebugDraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaybackIterations" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SearchTerm" serializeAs="String">
                <value>halloween</value>
            </setting>
        </VeniceHalloween.Properties.Settings>
    </userSettings>
</configuration>